*{
	font-family: 'Poppins', sans-serif;	
}

/*nav bar*/

html {
	scroll-behavior: smooth;
}

#navbar-container {
	position: 	fixed;
	height: 	43px;
	width: 	100%;
	background-color: #353734;
	top: 0;
	left:  0;
	z-index: 	1;	
}

#main {
	margin-top: 11%;
	background: linear-gradient(rgba(15,14,14,0.45),rgba(15,14,14,0.45)), 	url(../images/background.jpg);
	background-position: center;
	background-repeat: 	no-repeat;	
	background-size: 	cover;
	height: 	100vh;
}

ul {
	list-style-type:  none;
}

nav > ul {
	display: flex;	
	justify-content: 	center;
	padding: 2px 0;
}

nav > ul > li > a {
	padding: 5px;
	text-decoration: none;
	color: 	white;
}

nav > ul >li {
	border-right: 1px solid white;
	line-height: 10px;
	margin: 0 3px;
}

nav li:last-child{
	border-right: none;
}


/*first-section*/

.product-name, .product-content {
	color: 	white;
	text-align: 	center;

}

.product-name {
	font-size: 36px;
	padding: 100px 43px 43px;
}

.product-content {
	padding: 70px 45px 150px 45px;
}

/*Shop Section*/


#shop-images {
	padding: 0 10px;
}

#shop-images > img {
	height: 165px;
	width: 95%;
	margin-bottom: 10px;
	border: 3px solid #405f31;
}

#shops {
	background-color: white;
	text-align: center;
}

.section-title {
	font-size: 24px;
	padding: 15px 0;
}

/*Area Section*/

#area {
	text-align: center;
	color: white;
	background: #293a21;
}

#area .section-content {
	padding-bottom: 20px;
}

.area-image {
	position: 	relative;
	text-align: center;
}

.area-image > span {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 36px;
	transform: translate(-50%,-50%);
}

.area-image > img {
	height: 220px;
	width: 	100%;
}
/*Contact Section*/

#contact {
	text-align: 	center;
}

input, textarea {
	display: block;
	margin: 10px 0;
	width: 100%;
}

#contact .section-content {
	padding: 	0 36px;
}

iframe#map {
	height: 150px;
	width: 100%;
}

button.btn {
	background-color: #25331e;
	color: white;
	border: 1px solid #25331e;
	height: 40px;
	width: 40%;
	margin-bottom: 10px;
}

/*footer*/

footer {
	text-align: center;
}

/*media queries for IPAD and desktop*/


@media only screen and (min-width: 377px) {
	#shop-images > img {
		height: auto;
		width: 33%;
	}	

	.area-image > img {
		width: 33%;
	}

	#contact .section-content {
		padding: 0 25%;
	}

	#main {
		margin-top: 0;
	}
}
