*{
	font-family: 'Poppins', sans-serif;
	
}

header {
	background-color: #254026;
	text-align: center;
	margin: auto;
	top: 0;
	bottom: 0;
	height:  100vh;

}

.tagline-content {
	padding-top: 50%;
}

.btn {
	border: 1px solid #ffffff;
	height: 40px;
	width: 40%;
	background-color: transparent;
	color: white;
	display: block;
	margin: 45px auto;
}

.btn:hover {
	background-color: black;
	transition: .5s;
	color: white;

}

span {
	font-size: 60px;
	line-height: 60px;
	display: block;
}

#maximized-profit {
	margin-top: 20px;
}


/*animation*/

span {
	font-size: 60px;
	animation-name: colorChange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	color: black;
}

@keyframes colorChange {
	10% {
		color: white;
	}
	20% {
		color: green;
	}
	40% {
		color: black;
	}
	60% {
		color: yellow;
	}
}

@media only screen and (min-width: 377px) {
	.tagline-content {
		padding-top: 20%;
	}

	.btn {
		width: 12%;
		
	}
}
